{
  "account": {
    "email": "user.name@host.com",
    "password": "12345"
  },
  "locations": [
    "Suzanne Lenglen",
    "Niox",
    "Henry de Montherlant",
    "Valeyre",
    "René et André Mourlon",
    "Rigoulot - La Plaine",
    "Paul Barruel",
    "Sablonnière",
    "Croix Nivert",
    "Atlantique",
    "Elisabeth",
    "Cordelières",
    "NEUVE SAINT PIERRE",
    "Poliveau",
    "Candie",
    "Philippe Auguste",
    "Thiéré",
    "Alain Mimoun",
    "Carnot",
    "La Faluère",
    "Léo Lagrange",
    "Château des Rentiers",
    "Dunois",
    "Georges Carpentier",
    "Moureu - Baudricourt",
    "Poterne des Peupliers",
    "Puteaux",
    "Aurelle de Paladines",
    "Broquedis - Asnières",
    "Courcelles",
    "Max Rousié",
    "Bertrand Dauvin",
    "Halle Fret",
    "Jesse Owens",
    "Poissonniers",
    "Bobigny",
    "Edouard Pailleron",
    "Jandelle",
    "Jules Ladoumègue",
    "Sept arpents",
    "Amandiers",
    "Docteurs Déjerine"
  ],
  "date": "22/06/2024",
  "hours": ["19", "20", "18", "09", "21", "08"],
  "priceType": ["Tarif plein", "Tarif réduit"],
  "courtType": ["Découvert", "Couvert"],
  "surfaceType": [
    "Gazon synthétique",
    "Résine",
    "Terre battue",
    "Béton poreux",
    "Bitume",
    "Synthétique"
  ],
  "players": [
    {
      "lastName": "Lastname1",
      "firstName": "Firstname1"
    },
    {
      "lastName": "Lastname2",
      "firstName": "Firstname2"
    }
  ]
}
